
:root{
    --secundary-color: #bfa688;
    --complemtary-color: #2c442c;
    --bg-color: #0d0908;
}

/* Section style */

.section-title {
    font-family: 'libre baskerville', serif;
}

.article-title {
    font-family: 'libre baskerville', cursive;
}

.span-style {
    color: var(--complemtary-color);
}

/* Cabeçalho */

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    background-color: var(--complemtary-color);
}

header .container h1 {
    font-size: 24px;
    color: #fff;
    text-shadow: 20px 10px 5px black;
    cursor: pointer;
}

header .container h1:hover {
    color: #fff;
}

header .container img {
    height: 80px;
    filter: brightness(100);
}

#menu-navegacao .nav .nav-item .nav-link {
    color: #fff;
}

#menu-navegacao .nav .nav-item .nav-link.active {
    background-color: #fff;
    color: var(--complemtary-color);
}

#menu-navegacao .nav .nav-item .nav-link box-icon {
    padding-right: 5px;
}

header .container button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
}

header .container button box-icon {
    padding-right: 5px;
}

.container .navbar-toggler {
    background-color: #ffffff;
    box-shadow: 3px 3px 0px black;
    outline: none;
}

/* Sobre */

#sobre .carousel .carousel-item img {
    height: 100%;
    width: 100%;
}

#sobre .carousel-indicators button {
    border-radius: 50%;
    width: 7px;
    height: 7px;
} 

#eventos .container img {
    animation: flutuar 2s ease-in-out infinite;
}

@keyframes flutuar {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

#eventos .container button {
    width: 200px;
    height: 36px;
    border: 1px solid var(--complemtary-color);
    background-color: transparent;
    transition: all .35s ease;
}

#eventos .container button a {
    text-decoration: none;
    font-weight: 600;
    color: var(--complemtary-color);
}

#eventos .container button:hover {
    color: #fff;
    background-color: var(--complemtary-color);
}

#eventos .container button:hover a {
    color: #fff;
}

/* Produtos */

#produtos .nav-tabs .nav-link {
    color: var(--complemtary-color);
}

#produtos .nav-tabs .nav-link.active {
    background-color: var(--complemtary-color);
    border-color: var(--complemtary-color);
    color: #fff;
    border-bottom: none;
    font-weight: 600;
}

#produtos .container .card {
    font-family: 'libre baskerville';
}

#produtos .container .card img {
    padding: 12px;
}

#produtos .container .card h4 {
    font-size: 16px;
    font-weight: normal;
}

#produtos .container .card strong {
    font-size: 22px;
    color: green;
}

#produtos .container .card p {
    color: #333333bb;
}

#produtos .container .card p strong {
    font-size: 16px;
    color: #000;
}

#produtos .container .card:hover {
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
}

/* Contato/Social */

#social li {
    list-style: none;
}
